@import 'colors.scss';
@import 'variables.scss';
@import 'keyframes.scss';

/*======================================*/


/*				    Body               	*/


/*======================================*/

body {
    font-family: $fontDefault;
    color: $darkgray;
    background: #fff;
    overflow-x: hidden;
    position: relative;
}

#preloader {
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition-duration: 1s;
    
    .loader {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 8px solid #ddd;
        border-top-color: #fff;
        animation: spin 1s infinite linear;
    }
    
}

.nojs {
    overflow-y: auto;
    
    #preloader {
        display: none;
    }
}

.loaded {
    overflow-y: auto;
    
    #preloader {
//        display: none;
        opacity: 0;
        z-index: -1;
    }
}

/*======================================*/


/*				    Intro              	*/


/*======================================*/

#intro {
    width: 100%;
    max-height: 800px;
    height: 100vh;
    background: url('../images/intro.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    color: #fff;
    z-index: 10;
    
    .topbar {
        width: 100%;
        position: absolute;
        top: 60px;
        
        
        .logo img {
            width: 60px;
            height: 60px;
            display: block;
            background: #46c9a9;
            border-radius: 50%;
        }
        
        .menu {
            text-align: right;
            font-weight: bold;
            text-transform: uppercase;
            @include stroke(1px, rgba(0, 0, 0, 0.35));
            
            label {
                display: flex;
                justify-content: flex-end;
                margin: 0;
                padding: 0;
                color: #fff;
                cursor: pointer;
                
                h4 {
                    margin: 0;
                    padding: 0;
                    line-height: 60px;
                }
                
                .hamburger {
                    margin: 25px 10px;
                    width: 30px;
                    height: 5px;
                    background: #fff;
                    position: relative;
                    border-radius: 2px;
            
//                    $shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
//                    $shadow: 0 0 2px 0 #000;
                    box-shadow: $boxShadow;
                    
                    &::before {
                        position: absolute;
                        top: -10px;
                        left: 0;
                        width: 26px;
                        height: 5px;
                        background: #fff;
                        content: "";
                        border-radius: 2px;
                        box-shadow: $boxShadow;
                        transition-duration: 250ms;
                    }
                    
                    &::after {
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        width: 20px;
                        height: 5px;
                        background: #fff;
                        content: "";
                        border-radius: 2px;
                        box-shadow: $boxShadow;
                        transition-duration: 250ms;
                    }
                    
                }
                
                &:hover .hamburger::before,
                &:hover .hamburger::after {
                    width: 30px;
                }
                
            }
            
        }
        
    }
    
    .intro {
        text-align: center;
        font-family: $fontSpecial;
        color: #fff;
        @include stroke(2px, rgba(0, 0, 0, 0.35));
        
        h1 {
            color: #fff;
//            font-size: 90px;
        }
        
        @media screen and (max-width: 768px) {
            h1 {
                font-size: 3rem;
            }
            h2 {
                font-size: 1.2rem;
            }
        }
        
    }
    
    address.map {
        width: 300px;
        height: 150px;
        margin: 0;
        border-radius: 150px 150px 0 0;
        background: #46c9a9;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: $boxShadow;
        z-index: 15;
        transition-duration: 250ms;
        
        iframe {
            width: 300px;
            height: 150px;
            border: 0; 
            border-radius: 150px 150px 0 0;
            transition-duration: 250ms;
        }
        
        &:hover {
            border-radius: 0;
            iframe {
                border-radius: 0;
            }
        }

    }
    
}

/*======================================*/


/*				  Btn-menu             	*/


/*======================================*/

body > section, body > main {
    transition-duration: 500ms;
}

#btn-menu {
    display: none;
    
    &:checked ~ #nav {
        margin-right: 0;
    }
    
    &:checked ~ section,
    &:checked ~ main {
        margin-left: -400px;
    }
    
    &:checked ~ #intro .menu,
    &:checked ~ #topbar .menu {
        opacity: 0;
        visibility: hidden;
        cursor: default;
    }
    
    @media screen and (max-width: 768px) {
        
        &:checked ~ section {
            margin-left: -100%;
        }

    }
}

/*======================================*/


/*				    Nav              	*/


/*======================================*/

#nav {
    width: 400px;
    height: 100vh;
    border-left: 1px solid #ddd;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    font-family: $fontBold;
    font-weight: 900;
    margin-right: -400px;
    padding: 0;
    transition-duration: 500ms;
    z-index: 600;
    
    header {
        padding: 0 50px;
        border-bottom: 1px solid #ddd;
        height: 60px;
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            line-height: 60px;
            text-transform: uppercase;
            color: $darkgray;
            
            li {
                
                label {
                    cursor: pointer;
                    transition-duration: 250ms;
                    
                    .fa {
                        font-size: 18px;
                        line-height: 60px;
                    }
                    
                    &:hover {
                        color: $mint;
                    }
                }
                
                &:nth-child(1) {
                    text-decoration: underline;
                }
                
                &:nth-child(2) {
                    text-align: right;
                    
                }
                
            }
            
        }
        
    }
    
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            border-bottom: 1px solid #ddd;
            min-height: 60px;
            line-height: 60px;
            
            a {
                color: $darkgrayDimmed;
                transition-duration: 250ms;
                display: block;
                width: 100%;
                height: 60px;
                
                &:hover {
                    color: $mint;
                    text-decoration: none;
                }
            }
            
            &.active a {
                color: $mint;
                text-transform: uppercase;
            }
            
            .sub-menu {
                margin: 0;
                padding: 0;
                list-style: none;
                
                li {
                    border-bottom: 0;
//                    border-top: 1px solid #ddd;
                    font-size: 0.8em;
                    line-height: 40px;
                    
                    a {
                        color: $darkgray;
                        height: 40px;
                        
                        &:hover {
                            color: $mint;
                            text-decoration: none;
                        }
                    }
                    
                    &::before {
                        content: "";
                        display: block;
                        width: 20px;
                        height: 2px;
                        background: $darkgray;
                        margin: 0 auto;
                    }
                    
                    &:first-child::before {
                        display: none;
                    }
                    
                }
            }
            
        }
        
    }
    
}

@media screen and (max-width: 768px) {
        
    #nav {
        width: 100%;
        margin-right: -100%;
        border-left: 0;
    }

}

/*======================================*/


/*				  Topbar              	*/


/*======================================*/

#topbar {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: $darkgrayDimmed;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    display: none;
    
    .logo img {
        width: 60px;
        height: 60px;
        display: block;
        background: #46c9a9;
        border-radius: 50%;
    }
    
    .header {
        font-family: $fontSpecial;
        
        h2 {
            line-height: 60px;
            margin: 0;
            padding: 0;
        }
        
    }
    
    .menu {
        transition-duration: 250ms;
        
        label {
            margin: 0;
            padding: 0;
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            
            h5 {
                margin: 0;
                padding: 0;
                line-height: 60px;
                color: $gray;
                text-transform: uppercase;
                font-family: $fontBold;
                text-decoration: underline;
            }
            
            .hamburger {
                margin: 28px 15px;
                width: 30px;
                height: 5px;
                background: $gray;
                position: relative;
                border-radius: 5px;

                $shadow: 0 0 1px 0 #000;
                box-shadow: $shadow;

                &::before {
                    position: absolute;
                    top: -10px;
                    left: 0;
                    width: 26px;
                    height: 5px;
                    background: $gray;
                    content: "";
                    border-radius: 2px;
                    box-shadow: $shadow;
                    transition-duration: 250ms;
                }

                &::after {
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 20px;
                    height: 5px;
                    background: $gray;
                    content: "";
                    border-radius: 2px;
                    box-shadow: $shadow;
                    transition-duration: 250ms;
                }

            }
            
            &:hover .hamburger::before,
            &:hover .hamburger::after {
                width: 30px;
            }
            
        }
        
    }
    
    &.sticky {
       display: block;
    }
    
}

/*======================================*/


/*				   Banner              	*/


/*======================================*/

#banner {
    width: 100%;
    background: #fff;
    z-index: 20;
    padding: 50px 0 90px 0;
    position: relative;
    
    .offer {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            width: 100%;
            height: 60px;
            line-height: 60px;
            margin: 10px 0;
            border-radius: 30px;
            padding: 0 20px;
            font-size: 0.8em;
            
            a {
                color: #fff;
                text-transform: uppercase;
                font-family: $fontBold;
                
                .fa {
                    float: right;
                    line-height: 60px;
                    font-size: 36px;
                    font-weight: 900;
                }
                
                &:hover {
                    text-decoration: none;
                }
                
            } 
            
            &:nth-child(1) {
                background: $grapefruit;
            }
            
            &:nth-child(2) {
                background: $sunflower;
            }
            
            &:nth-child(3) {
                background: $mint;
            }
            
            &:nth-child(4) {
                background: $bluejeans;
            }
            
            &:nth-child(5) {
                background: $grass;
            }
            
            &:nth-child(6) {
                background: $aqua;
            }
            
        }
        
        
    }
    
    .wrapper {
        
        $height: 430px;
        min-height: $height;
        
        
        .banner {
            box-shadow: $boxShadowLight;
            box-sizing: border-box;
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            &.nth-0 {
                min-height: $height - 20px;
            }

            &.nth-1 {
                min-height: $height / 2 - 20px;
            }
            
            img {
                width: calc(100% - 30px);
                height: calc(100% - 20px);
                margin: 10px 15px;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }
            
            h3 {
                color: $lightgray;
                text-shadow: 0 0 5px #000;
                padding: 40px 0;
                width: 80%;
                margin: 0 auto;
                text-align: center;
                z-index: 20;
                border: 6px solid #fff;
                font-family: $fontBold;
                text-transform: uppercase;
                
                @media screen and (min-width: 993px) {
                    
                    &.rotate {
                        transform: rotateZ(-90deg)
                    }
                    
                }
                
            }
            
        }
        
    }
    
    &::before {
        display: block;
        width: 100%;
        height: 10px;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.35);
    }
    
    &::after {
        display: block;
        width: 100%;
        height: 10px;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    }
    
}

/*======================================*/


/*				   Main              	*/


/*======================================*/

#main {
    background-color: #eeeff3;
    background-image: url('../images/bg.svg');
    background-size: 100% 100%;
    width: 100%;
    padding: 50px 0;
}

/*======================================*/


/*				   About              	*/


/*======================================*/

#about {
    
    .row > div {
        padding-right: 30px;
//        position: relative;
//        height: auto;
    }
    
    .about {
        width: 100%;
        padding: 0 15px;
        margin-top: 40px;
        background: #fff;
        box-shadow: $boxShadowLight;
        z-index: 30;
        position: relative;
        border-radius: 2px;
        
        .header {
            position: relative;
            height: 150px; 
            
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                box-shadow: $boxShadow;
                transform: translateX(-50%) translateY(-50%);
                position: absolute;
                top: 0;
                left: 50%;
                z-index: 50;
            }
            
        }
        
        .content {
            
            h1, h4 {
                text-align: center;
                font-family: $fontSpecial;
                margin: 0;
                padding: 0 10px;
            }
            
            h1 {
                color: $darkgrayDimmed;
                font-family: $fontBold;
            }
            
            p {
                width: 100%;
                padding: 20px;
                display: block;
                text-align: center
            }
            
        }
        
        .nav {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateX(50%) translateY(-50%);
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            
            li {
                width: 40px;
                height: 40px;
                line-height: 100%;
                border-radius: 50%;
                text-align: center;
                background: #fff;
                box-shadow: $boxShadowLight;
                margin: 10px 0;
                transition-duration: 250ms;
                
                i {
                    margin: 0;
                    padding: 0;
                    line-height: 40px;
                    font-size: 22px;
                    color: $grapefruit;
                    
                    &.nth-1 {
                        color: $bluejeans;
                    }

                    &.nth-2 {
                        color: $sunflower;
                    }

                    &.nth-3 {
                        color: $mint;
                    }
                    
                } 
                
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                
                &:hover {
                    box-shadow: $boxShadow;
                }
                
            }
            
        }
        
        .button {
            width: 200px;
            height: 100px;
            text-align: center;
            margin: 0 auto;
            border-radius: 100px 100px 0 0;
            box-shadow: inset $boxShadowLight;
            transition-duration: 250ms;
            
            a {
                color: $darkgrayDimmed;
                line-height: 120px;
                font-family: $fontSpecial;
                font-size: 24px;
                display: block;
                width: 100%;
                height: 100%;
                
                &:hover {
                    text-decoration: none;
                }
            }
            
            &:hover {
                background: $lightgray;
                box-shadow: inset $boxShadow;
            }
        }
        
    }
    
    .bars {
        width: 70%;
        height: 15px;
        background: #fff;
        margin: 15px auto 0 auto;
        position: relative;
        box-shadow: $boxShadowLight;
        border-radius: 2px;
        
        &::before {
            content: "";
            display: block;
            width: 120%;
            height: 15px;
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);
            background: #fff;
            box-shadow: $boxShadowLight;
        }
    }
    
    @media screen and (max-width: 992px) {
        
        .about {
            margin-top: 160px;
        }

    }
    
}

/*======================================*/


/*				   Offer             	*/


/*======================================*/

#offer {
    width: 100%;
    
    .container > .header {
        padding: 100px 0 80px 0;
        
        h1 {
            display: block;
            margin: 0 auto;
            padding: 50px 0;
            text-align: center;
            color: #fff;
            @include stroke(1px, rgba(0,0,0,.35));
            font-family: $fontBold;
            font-weight: 900;
            text-transform: uppercase;
            position: relative;
            
            &::before, 
            &::after {
                content: "";
                position: absolute;
                width: 40%;
                height: 8px;
                background: #fff;
                box-shadow: $boxShadowLight;
            }
            
            &::before {
                bottom: 0;
                left: 0;
            }
            
            &::after{
                top: 0;
                right: 0;
            }
            
        }
    }
    
    @media screen and (max-width: 768px) {
        h1 {
            font-size: 3rem;
        }
    }
    
    .offer {
        width: 100%;
        border: 6px solid #ddd;
        padding: 0 15px 15px 15px;
        margin-bottom: 80px;
        background: rgba(255,255,255,.3);
        
        .header {
            width: 100%;
            color: $darkgrayDimmed;
            font-family: $fontBold;
            text-transform: uppercase;
            font-weight: 900;
            text-align: center;
            
            h2, h3 {
                transform: translateY(-50%);
                margin: -3px 0 0 0;
                padding: 10px 0;
                font-family: $fontSpecial;
                display: block;
                background: rgba(255,255,255,1);
                border: 6px solid #ddd;
            }
            
            .fa {
                font-size: 48px;
                line-height: 48px;
                margin-bottom: 30px;
                animation-name: pulse;
                animation-duration: 3s;
                animation-fill-mode: both;
                animation-iteration-count: infinite;
                
                &.nth-1 {
                    color: $grapefruit;
                }

                &.nth-2 {
                    color: $sunflower;
                }

                &.nth-3 {
                    color: $mint;
                }

                &.nth-4 {
                    color: $bluejeans;
                }

                &.nth-5 {
                    color: $grass;
                }

                &.nth-6 {
                    color: $aqua;
                }
            }
        }
        
        .content {
            text-align: center;
            
            ul {
                text-align: left;
            }
            
            h5 {
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
    
}

/*======================================*/


/*				 Schedule            	*/


/*======================================*/

#schedule {
    
    .schedule {
        position: relative;
        margin-top: 20px;
        
        .header {
            width: 100%;
//            height: 100px;
            padding: 20px 40px;
            background: #fff;
            border-radius: 5px;
            box-shadow: $boxShadowLight;
            z-index: 50;
            position: relative;
            overflow: hidden;
            
            h3 {
                font-family: $fontBold;
                font-weight: 900;
                color: $gray;
                text-transform: uppercase;
            }
            
            h3, h4 {
                margin: 0;
                padding: 0;
            }
            
            &::before {
                content: '';
                width: 30px;
                height: 65%;
                position: absolute;
                top: 50%;
                left: -15px;
                transform: translateY(-50%);
                background: $grapefruit;
                border-radius: 50%;
            }
            
        }
        
        .body {
            width: calc(100%-40px);
            margin: 0 20px;
            background: #f6f6f6;
            z-index: 40;
            position: relative;
            padding: 20px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            box-shadow: $boxShadowLight;
            
            .table {
                padding: 0;
                margin: 0;
                
                thead tr th:last-child,
                tbody td {
                    text-align: right;
                }

                thead tr th {
                    border: 0;
                }
                
                .pop {
                    position: relative;
                    cursor: help;
                    
                    .popover {
                        visibility: hidden;
                        opacity: 0;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        transform: translateY(-50%);
                        transition-duration: 250ms;
                        padding: 20px;
                        border: 1px solid #ddd;
                        border-radius: 3px;
                        
                        &::before {
                            content: '';
                            width: 15px;
                            height: 15px;
                            transform: rotateZ(-45deg) translateY(-50%);
                            border-top: 1px solid #ddd;
                            border-left: 1px solid #ddd;
                            position: absolute;
                            top: 50%;
                            left: -2px;
                            background: #fff;
                            transition-duration: 250ms;
                        }
                        
                    }
                    
                    &:hover .popover {
                        visibility: visible;
                        opacity: 1;
                        
                    }
                    
                }
                
            }
            
        }
        
        &:nth-child(1) .header::before {
            background: $aqua;
        }
        
        &:nth-child(2) .header::before {
            background: $sunflower;
        }
        
        &:nth-child(3) .header::before {
            background: $mint;
        }
          
    }
    
    .right {
        
        &:nth-child(1) .header::before {
            background: $aquaDimmed;
        }
        
        &:nth-child(2) .header::before {
            background: $sunflowerDimmed;
        }
        
        &:nth-child(3) .header::before {
            background: $mintDimmed;
        }
        
    }
    
}

/*======================================*/


/*				  Contact            	*/


/*======================================*/

#contact {
    width: 100%;
    min-height: 100vh;
    background: url('../images/contact.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    
    .container {
        padding: 50px 0;
    }
    
    .contatc-form {
        display: flex;
        flex-direction: column;
        
        input, textarea, button {
            width: 100%;
            height: 40px;
            background: rgba(255,255,255,.0);
            outline: none;
            border: 1px solid #ddd;
            margin: 10px 0;
            line-height: 40px;
            color: #fff;
            padding: 10px;
            box-sizing: border-box;
            text-decoration: 250ms;
            box-shadow: $boxShadowLight;
            
            &::placeholder {
                color: #fff;
            }
        }
        
        input:hover, textarea:hover,
        input:focus, textarea:focus {
            outline: 1px solid #ddd;
        }
        
        textarea {
            height: 200px;
            line-height: normal;
        }
        
        button {
            height: 60px;
            text-align: center;
            font-weight: 900;
            font-family: $fontBold;
            text-transform: uppercase;
            cursor: pointer;
            @include ripple(rgba(255,255,255, 0.7));
            position: relative;
            overflow: hidden;
        }
    }
    
    .map {
        padding: 10px 0;
        height: 100%;
        
        iframe {
            box-shadow: $boxShadowLight;
            width: 100%;
            min-height: 360px;
            height: 100%;
            border: 0;
            transition-duration: 250ms;
            
            &:hover {
                box-shadow: $boxShadow;
            }
            
        }
        
    }
    
        
    &::before {
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(67, 74, 84, .6);
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: $boxShadowLight;
    }
    
}

@media screen and (max-width: 992px) {
    #contact .container {
        padding: 50px 20px 100px 20px;
    }
}

/*======================================*/


/*				  Footer            	*/


/*======================================*/

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    
    p {
        z-index: 40;
        line-height: 60px;
        margin: 0;
        padding: 0;
        
        a {
            color: #fff;
        }
    }

    &::before {
        width: 60%;
        height: 1px;
        content: "";
        background:  #fff;
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
}

/*======================================*/


/*				 Profile            	*/


/*======================================*/

#profile {
    width: 100%;
    padding: 50px 0;
    
    .profile {
        background: #fff;
        padding: 100px 50px;
        position: relative;
        color: $darkgrayDimmed;
        box-shadow: $boxShadowLight;
        border-radius: 3px;
        z-index: 50;
        
        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                box-shadow: $boxShadow;
            }
            
            h1, h2, h3, h4 {
                color: $gray;
            }
        }
        
        .line {
            padding: 50px 15px;
            
            h1 {
                margin: 0;
                padding: 0;
                text-transform: uppercase;
                text-align: right;
                position: relative;
                
                &::after {
                    content: '';
                    width: 60%;
                    height: 5px;
                    background: $darkgrayDimmed;
                    position: absolute;
                    bottom: -5px;
                    right: 0;
                }
            }
            
            hr {
                border-width: 3px;
                margin-top: 50px;
            }
        }
        
        h1, h2, h3, h4, h5, h6 {
            color: $darkgrayDimmed;
            font-weight: bold;
            font-family: $fontBold;
            font-weight: 900;
        }
        
        .date {
            text-align: center;
            color: $darkgray;
            font-family: $fontDefault;
            font-weight: 100;
            padding: 20px 0;
            margin-top: 15px;
            position: relative;
            
            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
            }
            
            &::before {
                width: 100%;
                height: 2px;
                background: #ddd;
            }
            
            &::after {
                width: 15px;
                height: 15px;
                background: $darkgray;
                transform: translateY(-50%);
                border-radius: 50%;
                top: 1px;
            }
            
        }
        
        &::before {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            width: 60%;
            height: 25px;
            background: $darkgrayDimmed;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .35);
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
    
    .bars {
        width: 85%;
        height: 20px;
        background: #fff;
        margin: 20px auto 0 auto;
        position: relative;
        box-shadow: $boxShadowLight;
        border-radius: 2px;
        z-index: 40;
        border-bottom-left-radius: 3px;
        border-bottom-left-radius: 3px;
        
        &::before {
            content: "";
            display: block;
            width: 110%;
            height: 20px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            background: #fff;
            box-shadow: $boxShadowLight;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }
    
}


