/*======================================*/


/*				 Variables           	*/


/*======================================*/

//fonts

$fontSpecial: 'Kalam', cursive;
$fontBold: 'Lato', sans-serif;
$fontDefault: 'Hind', sans-serif;

//Shadows

$boxShadowLight: 0 0 5px 0 rgba(0, 0, 0, 0.35);
$boxShadow: 0 0 5px 2px rgba(0, 0, 0, 0.35);

/*======================================*/


/*				   Mixin               	*/


/*======================================*/

@mixin ripple($color) {
    .ripple {
        border-radius: 50%;
        background: $color;
        position: absolute;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation: ripple 0.6s linear;
        animation: ripple 0.6s linear;
    }
}

@mixin stroke($radius, $color) {
    text-shadow: (-$radius) 0 $radius $color,
        0 $radius $radius $color,
        $radius 0 $radius $color,
        0 (-$radius) $radius $color;
}